#compatibilityblock.form-section-block
    .form-block-heading 
        h2#compatibility-heading-text !{content.compatibilityLoginHeadingText}
    .backshadow-block 
        p.hint !{content.compatibilityLoginHintText}
        button#access-compatibility-button() !{content.compatibilityLoginSwitchButtonText}
            
        //- .agb-hint-block: p.hint !{content.agbHintText}

    //- .grey-extension-block
    //-     p#no-code-hint.hint !{content.copmatibilityLoginNoATHintText}