//- registrationform structure
#doctorregistrationview.fullpage-view

    .pageviewheader
        #doctorregistrationview-heading.pageview-heading
            .back-arrow: svg: use(href="#svg-left-chevron")
            .pageviewheader-logo-block
                .pageviewheader-logo
                h1.pageviewheader-subtitle !{content.headerSubtitle}
            .pageviewheader-language-tags 
                .pageviewheader-de-tag-link !{content.deTagLink} 
                .pageviewheader-en-tag-link !{content.enTagLink}

    .content-section 
        //- iframe#doctor-form-iframe(src="https://forms.monday.com/forms/c5fe9d109217da4d38a65f1fb92bc910?r=euc1&name=&type=Arzt%20Supportanfrage%20zu%20Bilder%20und%20Befunde")
        //- h1.content-title !{content.doctorSupportTitle}
        //- p.content-slogan !{content.doctorSupportSubText}

        //- .form-section: include doctorregistrationformblock.pug

    .footer-section: include ../footermodule/footer.pug