#doctorregistrationformblock.form-section-block
    .form-block-heading
        h2#doctorregistration-heading-text !{content.registrationHeadingText}
    .backshadow-block
        form#doctorregistration-form(name="register" method="post" action="https://webview.bilder-befunde.at/webview/index.php?site=scripts/login.php&value=&register=1&check=1")
            label#doctor-title-label(for="title") !{content.registrationTitleLableText}  
            input#doctor-title-input(name="title" type="text")
            
            label#doctor-firstname-label(for="firstname") !{content.registrationFirstnameLableText}
            input#doctor-firstname-input(name="firstname" type="text")
            
            label#doctor-lastname-label(for="lastname") !{content.registrationLastnameLableText} 
            input#doctor-lastname-input(name="lastname" type="text")

            label#doctor-address-label(for="address") !{content.registrationAddressLableText} 
            input#doctor-address-input(name="address" type="text")
            
            label#doctor-location-label(for="plz") !{content.registrationPLZLableText} 
            #doctor-location-block
                input#doctor-plz-input(name="plz" type="text" maxlength="5")
                input#doctor-location-input(name="city" type="text")

            label#doctor-email-label(for="email") !{content.registrationEmailLableText}  
            input#doctor-email-input(name="email" type="email")
            
            label#doctor-fax-label(for="fax") !{content.registrationFaxLableText}  
            input#doctor-fax-input(name="fax" type="text")

            .empty-cell 
            #doctor-want-fax-block
                input#doctor-want-fax-input(name="contact_fax" type="checkbox")
                label#doctor-want-fax-label(for="contact_fax") !{content.registrationContactFaxLableText}

            label#doctor-phone-label(for="phone") !{content.registrationPhoneLableText} 
            input#doctor-phone-input(name="phone" type="text")

            .empty-cell 
            #doctor-want-call-block
                input#doctor-want-call-input(name="contact_phone" type="checkbox")
                label#doctor-want-call-label(for="contact_phone") !{content.registrationContactPhoneLableText}

            .empty-cell
            button#doctorregistration-submit-button(type="submit" name="submit") !{content.registrationSubmitButtonText}

        .agb-hint-block: .hint !{content.agbHintText}
