#doctormiscblock.form-section-block    
    .form-block-heading 
        h2#doctormisc-heading-text !{content.doctormiscHeadingText}
    .backshadow-block 
        p#doctormisc-hint-text !{content.doctormiscHintText}
        button#doctormisc-continue-button() !{content.doctormiscContinueText}
        //- .agb-hint-block: .hint !{content.agbHintText}

    //- .grey-extension-block 
    //-     p#no-login-data !{content.doctormiscNoLoginDataText}
    //-     //- #patient-login-block
    a#get-login-data-link.click-button
        #get-login-text !{content.doctormiscGetLoginDataLinkText}
        #get-login-arrow: svg: use(href="#svg-right-chevron")
        //- a(href="support.html#doctor-registration") !{}