#doctormiscblock.form-section-block    
    .form-block-heading 
        h2#doctormisc-heading-text !{content.doctormiscHeadingText}
    .backshadow-block 
        p#doctormisc-hint-text !{content.doctormiscHintText}
        button#doctormisc-continue-button !{content.doctormiscContinueText}
        .agb-hint-block: .hint !{content.agbHintText}

    .grey-extension-block 
        p#no-login-data !{content.doctormiscNoLoginDataText}
        a#get-login-data-link(href="/support#registration") !{content.doctormiscGetLoginDataLinkText}