#idaustriablock.form-section-block
    .form-block-heading 
        h2#idaustria-heading-text !{content.idaustriaLoginHeadingText}
    .backshadow-block 
        img#idaustria-logo(src="img/idaustria_logo.svg" alt="Logo der ID Austria")
        p.hint !{content.idaustriaLoginHintText}
        //- button#access-compatibility-button() !{content.compatibilityLoginSwitchButtonText}
            
        //- .agb-hint-block: p.hint !{content.agbHintText}

    //- .grey-extension-block
    //-     p#no-code-hint.hint !{content.copmatibilityLoginNoATHintText}