#patientregistrationformblock.form-section-block
    .form-block-heading
        h2#patientregistration-heading-text !{content.patientSupportFormHeadingText}
    .backshadow-block
        #patientsupport-success-frame
            #patientsupport-success-decoration: svg: use(href="#svg-check-icon")
            #patientsupport-success-message !{content.patientsupportSuccessMessage}
        //- form#patientsupport-form(name="patient-support" method="post" action="https://www.bilder-befunde.at/pwa-api/api/v1/support/")
        form#patientsupport-form
            label#patient-title-label(for="patient-title-input") !{content.registrationTitleLabelText}  
            input#patient-title-input(name="title" type="text")
            
            label#patient-firstname-label(for="patient-firstname-input") !{content.registrationFirstnameLabelText}
            input#patient-firstname-input(name="firstname" type="text" required)
            
            label#patient-lastname-label(for="patient-lastname-input") !{content.registrationLastnameLabelText} 
            input#patient-lastname-input(name="lastname" type="text" required)

            label#patient-address-label(for="patient-address-input") !{content.registrationAddressLabelText} 
            input#patient-address-input(name="address" type="text" required)
            
            label#patient-location-label(for="patient-plz-input") !{content.registrationPLZLabelText} 
            #patient-location-block
                input#patient-plz-input(name="plz" type="text" maxlength="5" required)
                input#patient-location-input(name="city" type="text" required)

            label#patient-birthday-label(for="patient-birthday-input") !{content.registrationBirthdayLabelText}
            input#patient-birthday-input(name="birthday" type="date" max="2999-12-31" required)

            label#patient-email-label(for="patient-email-input") !{content.registrationEmailLabelText}  
            input#patient-email-input(name="email" type="email" required)

            .empty-cell 
            #patient-want-email-block
                input#patient-want-email-input(name="contact_email" type="checkbox")
                label#patient-want-email-label(for="patient-want-email-input") !{content.registrationContactEmailLabelText}

            label#patient-phone-label(for="patient-phone-input") !{content.registrationPhoneLabelText} 
            input#patient-phone-input(name="phone" type="text" required)

            .empty-cell 
            #patient-want-call-block
                input#patient-want-call-input(name="contact_phone" type="checkbox")
                label#patient-want-call-label(for="patient-want-call-input") !{content.registrationContactPhoneLabelText}

            label#patient-referrer-label(for="patient-referrer-input") !{content.registrationOrganizationLabelText}  
            input#patient-referrer-input(name="organization" type="text")

            label#patient-message-label(for="patient-message-input") !{content.registrationMessageLabelText}  
            textarea#patient-message-input(name="message" rows="10^")

            .empty-cell
            button#patientregistration-submit-button(type="submit" name="submit") !{content.supportSubmitButtonText}

        .agb-hint-block: .hint !{content.supportAGBHintText}
