#nosvnloginformblock.form-section-block
    .form-block-heading 
        h2#svnlogin-heading-text !{content.nosvnLoginHeadingText}
    .backshadow-block 
        p.hint !{content.nosvnLoginHintText}
        form#compatibility-authcode-login-form
            label#authcode-birthday-label(for="birthday") !{content.nosvnLoginBirthdayLabelText}
            input#authcode-birthday-input(name="birthday" type="date" max="2999-12-31")
            label#authcode-label(for="authcode") !{content.nosvnLoginAuthcodeLabelText}
            #authcode-block
                #authcode-prefix AT-
                input#authcode-input(name="authcode" type="number")
            #authcode-error-feedback-text
            button#authcode-submit-button(type="submit") !{content.nosvnLoginSubmitButtonText}
            .empty-cell
            
        .agb-hint-block: p.hint !{content.agbHintText}

    //- .grey-extension-block
    //-     p#no-authcode-hint.hint !{content.nosvnLoginNoAuthcodeHintText}